body {
  background-color: rgb(255, 212, 212);
  padding: 0px;
  margin: 0px;
}

.mylist {
  display: flex;
  flex-grow: 1;
}
.mylist .mylist-big-video {
  width: 75%;
}

.mylist .mylist-big-video .video-holderbox .palyer {
  height: 70vh;
  min-height: 550px;
  overflow: hidden;
}

.mylist .mylist-big-video .video-holderbox .palyer video {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
}
.mylist .mylist-big-video .video-holderbox .mylist .mylist-items {
  width: 25%;
}
/*palyer css*/
.palyer {
  position: relative;
}
.palyer button,
.palyer input {
  outline: none;
}

.palyer video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.palyer .palyer__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
.palyer.hideControl .palyer__controls {
  transition: all 1s;
  opacity: 0;
}
.palyer.hideControl:hover .palyer__controls {
  opacity: 1;

  transition-delay: 0.1s;
}

.palyer .palyer__controls .palyer__button {
  position: relative;
  width: 50px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.palyer .palyer__controls i {
  color: #fff;
  font-size: 35px;
}
.palyer .palyer__controls button[data-skip] {
  position: relative;
  width: 25px;
}
.palyer .palyer__controls button[data-skip] i {
  font-size: 25px;
}
.palyer .palyer__controls button[data-skip] span {
  display: none;
}
.palyer .palyer__controls button[data-skip]:hover span {
  display: block;
  position: absolute;
  top: -60px;
  left: -05px;
  width: 25px;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #fff;
  padding: 5px 10px;
}

.palyer .progress {
  width: 100%;
  position: relative;
  height: 9px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
}
.palyer .progress .progress__filled {
  position: absolute;
  left: 0;
  top: 2px;
  bottom: 0;
  width: 0%;
  height: 5px;
  background-color: yellow;
  cursor: e-resize;
}
.palyer .videoPlayStatus {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  justify-content: center;
}
.palyer .videoPlayStatus ul {
  display: flex;
  padding: 10px 15px;
  margin: 0;
}
.palyer .videoPlayStatus li {
  color: #fff;
  list-style: none;
}
.palyer .videoPlayStatus li:first-child {
  padding-right: 15px;
  position: relative;
}
.palyer .videoPlayStatus li:first-child::after {
  content: "/";
  color: #fff;
  position: absolute;
  right: 7px;
  top: 0;
}
.palyer .palyer__controls .toggle {
  margin-left: 15px;
  margin-right: 15px;
}
.palyer .palyer__controls .player__slider {
  -webkit-appearance: none;
  width: 100px;
  height: 25px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.palyer .palyer__controls .player__slider:hover {
  opacity: 1;
}

.palyer .palyer__controls .player__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.palyer .palyer__controls .player__slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.palyer .palyer__controls .volumeBtn {
  position: relative;
  width: 45px;
  display: inline-block;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  margin-right: 15px;
}

.palyer .palyer__controls .volumeBtn .volume-show-box {
  display: none;
  transform: rotate(270deg);
}
.palyer .palyer__controls .volumeBtn:hover .volume-show-box {
  display: block;
  position: absolute;
  bottom: 85px;
  left: -30px;
}
.palyer .palyer__controls .volumeBtn .volume-show-box .toolHolder {
  position: relative;
}
.palyer .palyer__controls .volumeBtn .volume-show-box .toolHolder span {
  position: absolute;
  bottom: 0;
  left: 105px;
  width: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 1px #fff;
  padding: 5px 10px;
  transform: rotate(90deg);
}
.palyer .palyer__controls .volumeBtn .volumeWrapper {
  position: absolute;
  left: 0;
  top: 2px;
  bottom: 4px;
  width: 10%;
  pointer-events: none;
  background: #04aa6d;
}

.palyer .palyer__controls .action-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 40px;
}

.palyer .palyer__controls .action-box .action-right-box,
.palyer .palyer__controls .action-box .action-left-box,
.palyer .palyer__controls .action-box .videoPlayStatus {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.palyer .palyer__controls .action-box .action-left-box {
  justify-content: flex-start;
}
.palyer .palyer__controls .action-box .action-right-box {
  justify-content: flex-end;
}

.palyer .palyer__controls .action-box .action-left-box .playbackRate-btn {
  position: relative;
  margin-right: 15px;
}
.palyer .palyer__controls .action-box .action-left-box .playbackRate-btn span {
  display: none;
}
.palyer
  .palyer__controls
  .action-box
  .action-left-box
  .playbackRate-btn:hover
  span {
  position: absolute;
  bottom: 70px;
  left: 26px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 1px #fff;
  padding: 5px 15px 5px 15px;
  display: block;
  font-size: 18px;
  text-align: left;
  width: auto;
}

/*.palyer .palyer__controls .action-box .action-right-box,*/
.palyer .palyer__controls .action-box .action-right-box [class*="-box"] {
  margin-right: 15px;
  margin-left: 15px;
}

.palyer .palyer__controls .action-box .action-right-box [class*="-box"] i {
  font-size: 25px;
  cursor: pointer;
}

.palyer
  .palyer__controls
  .action-box
  .action-right-box
  .Expanded-box
  .iconHolder-expand,
.palyer__controls
  .action-box
  .action-right-box
  .Expanded-box
  .iconHolder-unexpand {
  transform: rotate(45deg);
}

.palyer
  .palyer__controls
  .action-box
  .action-right-box
  .fullScreen-box
  .fullScreen-unexpand,
.palyer__controls
  .action-box
  .action-right-box
  .Expanded-box
  .iconHolder-unexpand {
  display: none;
}

.expandedVideo
  .palyer__controls
  .action-box
  .action-right-box
  .Expanded-box
  .iconHolder-unexpand {
  display: block;
}

.expandedVideo
  .palyer__controls
  .action-box
  .action-right-box
  .Expanded-box
  .iconHolder-expand {
  display: none;
}

/*fullwidth*/
.expandedVideo .mylist-big-video {
  width: 100%;
}
.expandedVideo .mylist-items {
  display: none;
}

::cue(v[voice="Test"]) {
  color: #fff;
  background: #000;
  ruby-position: over;
}
